In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import mpld3

# Sample data
data = {
    'City': ['Thane', 'Mumbai', 'Nagpur', 'Nasik', 'Pune', 'Ratnagiri', 'Delhi'],
    'Count': [13, 15, 9, 12, 13, 12, 1]
}

# Create DataFrame
df = pd.DataFrame(data)

# Create a Seaborn bar plot
plt.figure(figsize=(10, 6))
bar_plot = sns.barplot(x='City', y='Count', data=df, palette='viridis')
bar_plot.set_title('City Counts')
bar_plot.set_xlabel('City')
bar_plot.set_ylabel('Count')

# Display the plot using mpld3
mpld3.display()

ModuleNotFoundError: No module named 'mpld3'